<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">
         About Us
      </h3>
   </div>
   <div class="panel-body">
      AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data binding and dependency injection eliminate much of the code you currently have to write. And it all happens within the browser, making it an ideal partner with any server technology.
   </div>
</div>
